body{
    height: 100vh;
    overflow: hidden;
}
.score{
    background-color: #66cccc;
    border-radius: 0.5rem; 
    color: green;
    border-style: solid;
    font-size: 2rem;
    visibility: hidden;
}

.canvas {
    padding-left: 0;
    padding-right: 0;
    margin: auto;
    display: block;
    width: 800px;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: url('game-over.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    opacity: 0;
    visibility: hidden; 
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 10%;
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: red; 
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

.play-again-button { 
    font-family: 'Press Start 2P', cursive;
    width: 23rem;
    line-height: 1.5rem;
    text-align: center; 
    cursor: pointer; 
    border-radius: 0.25rem;
    background-color: red;
    border-style: hidden;
    outline: none
}

.show-modal {
    opacity: 1; 
    visibility: visible; 
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.starting-screen {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    background-color: darkblue;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    text-align: center
}

.title{
    position: relative;
    margin: 5rem auto;
    width: 24rem;
    border-radius: 0.5rem;
}

.play-button {
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: darkgreen;
    border-style: hidden;
    outline: none;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
    cursor: pointer
}

.show-score {
    visibility: visible;
}
